.ListHeaderOuter {
    position: relative;
    width: var(--write-width);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px var(--text);
    border: 2px solid var(--border);
    background-color: var(--app);
    overflow: hidden;

    .listheader-title {
        position: relative;
        width: 100%;
        margin: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;     

        label {
            font-size: 14px;
            color: var(--text);
            margin: 0 20px;
        }


        input[type='radio']:after {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            top: -5px;
            left: -5px;
            position: relative;
            background-color: var(--grayA);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid var(--text);
        }

        input[type='radio']:checked:after {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            top: -5px;
            left: -5px;
            position: relative;
            background-color: var(--text);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid var(--text);
        }
        .listheader-item {
            position: relative;
            width: 300px;
            display: flex;
            align-items: center;
            justify-content: center;       
        }
        .listheader-item.left {
            justify-content: flex-start;
        }

        .listheader-item.right {
            margin-right: 60px;
        }
        .listheader-all {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;              
        }
    }

}