.ListHeaderOuter {
    position: relative;
    width: var(--write-width);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    box-shadow: 0 0 10px var(--text);
    border: 2px solid var(--border);
    background-color: var(--app);

    .calendar-title {
        position: relative;
        width: var(--calendar-title-width);
        margin: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;     

        label {
            font-size: 14px;
            color: var(--tag);
            margin: 20px;
        }


        input[type='radio']:after {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            top: -5px;
            left: -5px;
            position: relative;
            background-color: var(--grayA);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid var(--tag);
        }

        input[type='radio']:checked:after {
            width: 20px;
            height: 20px;
            border-radius: 20px;
            top: -5px;
            left: -5px;
            position: relative;
            background-color: var(--tag);
            content: '';
            display: inline-block;
            visibility: visible;
            border: 2px solid var(--tag);
        }
        .calendar-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;       
        }
    }

}