@import url("https://cdn.jsdelivr.net/gh/moonspam/NanumBarunGothic@latest/nanumbarungothicsubset.css");
body {
  font-family: "NanumBarunGothic";
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  margin: 0;
  padding: 0;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in;
}

body {
  /* 그라디언트 */
  --background-bluegreen: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);
  --background-purple: linear-gradient(45deg, #8e2de2, #4a00e0);
  --background-dark: linear-gradient(45deg, #000000, #434343);
  --background-green: linear-gradient(45deg, #00b09b, #96c93d);
  --background-yellow: linear-gradient(45deg, #ffe259, #ffa751);

  /* 색깔들 */
  --baemin: #12fff7;
  --text: #1d1d1d;
  --white-text: white;
  --header-app: white;
  --app: white;
  --red: #ed213a;
  --header: var(--background-bluegreen);
  --grayA: white;
  --grayB: #f6f6f6;
  --grayC: #d7d7d7;
  --grayD: #888888;
  --grayE: #484848;
  --dark: #222222;
  --bluegreen: #0cebeb;
  --green: #00b09b;
  --purple: #8e2de2;
  --yellow: #ffe259;
  --primary1: #2AC1BC;
  --primary3: #219A95;

  --header-height: 120px;
  --auth-width: 250px;
  --badge-width: 80px;
  --badge-height: 40px;
  --records-height: 100px;
  --records-width: 1000px;
  --records-half-width: 400px;
  --record-item: 200px;
  --calendar-width: 900px;
  --calendar-title-width: 950px;

  --calendar-day-height: 60px;
  --calendar-item-width: 100px;
  --text-shadow: none;
  --write-width: 1000px;
  --write-height: 120px;
  --footer-height: 60px;

  --chart-height: 600px;
  --category-badge-1 : linear-gradient(45deg, #ed213a, #93291e);
  --category-badge-2 : linear-gradient(45deg, #bc4e9c, #f80759);
  --category-badge-3 : linear-gradient(45deg, #fdc830, #f37335);
  --category-badge-4 : linear-gradient(45deg, #ffe259, #ffa751);
  --category-badge-5 : linear-gradient(45deg, #a8ff78, #78ffd6);
  --category-badge-6 : linear-gradient(45deg, #11998e, #38ef7d);
  --category-badge-7 : linear-gradient(45deg, #12d8fa, #1fa2ff);
  --category-badge-8 : linear-gradient(45deg, #8e2de2, #4a00e0);
  --category-badge-9 : linear-gradient(45deg, #302b63, #24243e);
  --category-badge-10 : linear-gradient(45deg, #434343, #000000);
  --category-badge-11 : linear-gradient(45deg, #434343, #434343);

  --category-1 : #ed213a;
  --category-2 : #bc4e9c;
  --category-3 : #fdc830;
  --category-4 : #ffe259;
  --category-5 : #a8ff78;
  --category-6 : #11998e;
  --category-7 : #12d8fa;
  --category-8 : #8e2de2;
  --category-9 : #302b63;
  --category-10 : #434343;
  --category-11 : var(--grayA);
  --body-background: #d7d7d7;
  --calendar-item: #d7d7d7;
  --base-shadow: none;
  --tag: #219A95;

  --base-gradient: linear-gradient(45deg, #0cebeb, #20e3b2, #219A95);
  --dark-gradient: linear-gradient(45deg, #0cebeb, #20e3b2, #29ffc6);

  --base-color:#0cebeb;
  --header-color: #222222;
  --border: none;
  background: var(--body-background);
}


  .category-badge-1 {
    background: var(--category-badge-1);
  }
  .category-badge-2 {
    background: var(--category-badge-2);
  }
  .category-badge-3 {
    background: var(--category-badge-3);
  }
  .category-badge-4 {
    background: var(--category-badge-4);
  }
  .category-badge-5 {
    background: var(--category-badge-5);
  }
  .category-badge-6 {
    background: var(--category-badge-6);
  }
  .category-badge-7 {
    background: var(--category-badge-7);
  }
  .category-badge-8 {
    background: var(--category-badge-8);
  }
  .category-badge-9 {
    background: var(--category-badge-9);
  }
  .category-badge-10 {
    background: var(--category-badge-10);
  }
  .errormessage {
    font-size: 14px;
    color: var(--red);
  }


main {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: all 0.3s ease-in;
}

.isNotVisible {
  visibility: hidden;
}

.isNotDisplay {
  display: none;
}

#root {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in;
}

.AppOuter {
  top: var(--header-height);
  padding: 0;
  position: relative;
  width: 100%;
  height: 100%;
}

.RouterOuter {
  position: relative;
  width: 100%;
  height: 100%;
}

::-webkit-scrollbar {
  width: 20px;
  background-color: var(--dark);
}

::-webkit-scrollbar-thumb {
  background-image: var(--dark-gradient);
  border-radius: 10px;
  background-clip: padding-box;
  border: 3px solid var(--dark);
}

::-webkit-scrollbar-track {
  background-color: var(--dark);
}

::-webkit-scrollbar-corner {
  background-color: var(--dark);
}
