
.CreditSelectorOuter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    cursor: pointer;
}

.credit-selector {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    width: 200px;
    h5 {
        margin: 0 2px;
    }
}

.credit-card-name {
    font-size: 13px;
}