.Input {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px;
    margin: 10px;
    position: sticky;
    width: var(--auth-width);
    border-radius: 8px;
    height: 40px;
    line-height: 22px;
    border: none;
    color: var(--grayC);
    border: 2px solid var(--grayC);
    border-radius: 2px;
    background: transparent;
    width: var(--auth-width);
    min-width: var(--input-width);
    font-size: 16px;
    font-weight: 800;
    transition: all 0.3s ease-in-out;
}

