.PieViewOuter {
    position: relative;
    width: var(--records-width);
    height: var(--chart-height);
    border-radius: 10px;
    margin: 20px;
    box-shadow: 0 0 10px var(--text);
    border: 2px solid var(--border);
    background-color: var(--app);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: var(--text);
    overflow: auto;

    .pieview-inner{
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .pie-item {
        width: var(--records-half-width);
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}