
.CategorySelectorOuter {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    z-index: 1;
}

.write-item-outer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: var(--app);
    width: 100%;
    height: 100%;
}

.write-item-inner {
    display: flex;
    align-items: center;
    justify-content: flex-start;   
}
.write-item-dummy {
    position: absolute;
    background-color: var(--app);
    width: 160px;
    height: 110px;
    margin-left: -20px;
    margin-top: -20px;
    z-index: -1;
}

.type-flag {
    background: var(--header-color);
    color: var(--app);
    font-size: 14px;
    font-weight: 800;
    border-radius: 5px;
    width: 50px;
    height: 25px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.type-category-name {
    margin: 0 5px;
}

.write-item {
    width: 160px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: center;
    justify-content: flex-start;

    .LineInput input{
        width: 150px;
    }

    .write-text {
        margin: 10px;
        font-size: 14px;
        color: var(--primary3);
    }

    .category-select {
        position: absolute;
        background-color: var(--app);
        box-shadow: 2px 2px 20px black;
        border-radius: 10px;
        visibility: visible;
        transform: translateY(100px);
        z-index: -2;
        transition: all .3s ease-in;

        .category-select-item {
            padding: 5px 20px;
            font-size: 12px;
            cursor: pointer;
            transition: all .3s ease-in;
        }
        .category-select-item:hover {
            background-color: var(--grayB);
        }
    }

    .category-select.invisible {
        visibility: hidden;
        transform: translateY(-180px);
        .category-select-item {
            visibility: hidden;
        }
    }
}