.HeaderViewOuter {
    .header-button.login {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        #login-id {
            font-size: 14px;
            margin: 5px;
        }
    }
    .header-button {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        h4 {
            color: var(--header-app);
        }
    }
    .header-button.days {
        flex-direction: column;
    }
    .header-button-item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: flex-start;
    }
    #woowa-title {
        color: var(--header-app);
        font-size: 20px;
        font-weight: 800;
        margin: 5px;        
        cursor: pointer;
    }

    #month-title {
        color: var(--header-app);
        font-size: 45px;
        margin: 5px;
    }
    #year-title {
        color: var(--header-app);
        font-size: 14px;
    }
    .header-svg {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background: var(--darkmode);
        border: 2px solid black;
        box-shadow: 0 0 10px black;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        transition: all .3s ease-in;
        margin: 10px;
        svg {
            transform: scale(0.8);
        }
    }

    .header-svg.logout {
        background: none;
    }
    .header-item.left {
        justify-content: flex-start;
    }

    .header-item.right {
        justify-content: flex-end;
    }

    .header-item.hamberger{ 
        position: fixed;
        background: #1d1d1d;
        border-radius: 10px;
        top: var(--header-height);
        width: 70px;
        height: 300px;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        transform: translateX(70px);
        transition: all .3s ease-in;
    }

    .header-item.hamberger.isHambergetOpen {
        transform: translateX(0);
    }
    .header-svg:hover {
        transform: scale(1.2);
    }

    .OlympicRingsSVG {
        width: 60px;
        height: 50px;
        transform: scale(0.9);
    }

      @media screen and (max-width: 600px) { 
        .header-item {
            width: 150px;
        }

        #month-title{
            font-size: 20px;
        }
        .header-item.center {
            width: 150px;
        }
        .header-button.goback{
            font-size: 14px;
        }
        #hamberger {
            transform: scale(0.8);
        }
      }

//   #olympic-ring path:nth-child(1){
//     stroke-dasharray: 1000;
//     stroke-dashoffset: 1000;
//     transition: all .3s ease-in;
//     cursor: pointer;
//     animation: dash 3s linear forwards;
//   }
// 
//   @keyframes dash {
//     to {
//       stroke-dashoffset: 0;
//     }
//   }
}