.HeaderViewOuter {
    .header-button.login {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;

        #login-id {
            font-size: 14px;
            margin: 5px;
        }
    }
}