.DayItemOuter {
    position: relative;
    background-color: white;

    .day-title-wrapper{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        text-align: center;

        .day-title {
            margin: 20px;
            color: var(--grayC);
            font-size: 16px;
            font-weight: 400;
        }
    }
}