.RecordItemOuter {
    position: relative;
    width: 100%;
    display: flex;
    background-color: var(--app);
    align-items: center;
    justify-content: center;
    text-align: center; 
    border-top: 2px solid var(--grayC);

    .recorditem {
        font-size: 14px;
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        padding: 0 20px;

        .recorditem-item {
            color: var(--text);
            width: var(--record-item);
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;         
        }

        .left {
            justify-content: flex-start;
        }
        .right {
            justify-content: flex-end;
        }
        .payment {
            color: var(--grayE);
        }

        height: var(--records-height);
        width: var(--records-width);


        h4 {
            margin: 4px;
        }
    }
}