.CategoryBadgeOuter {
  .category-badge {
    margin: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: var(--badge-width);
    background-color: white;
    color: var(--white-text);
    height: var(--badge-height);
    border-radius: 14px;
    transition: all .3s ease-in;
  }

}

