.IntroContainerOuter {
    position: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    perspective: 1000px;

    .dummy-id {
        color: white;
    }

    #intro-container {
        position: absolute;
        width: 1250px;
        height: 800px;
        background-size: cover;
        border-radius: 10px;
        box-shadow: 0 0 20px black;
        transform-style: preserve-3d;
    }

    .intro-inner {
        width: 600px;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        z-index: 11;
        transition: all .3s ease-in;
        border-radius: 10px;
        background-color: rgba($color: #000000, $alpha: 0.7);
        box-shadow: 0 0 20px black;
    }

    .tokyo {
        color: white;
        text-shadow: 0 0 20px white;
        margin-left: 920px;
        font-size: 60px;
        position: absolute;
        z-index: 11;
    }
    .olympic-ring-outer{
        position: absolute;
        margin-left: 200px;
        margin-top: -50px;
    }

    #olympic-ring {
        stroke: white;
        transform: scale(0.15);
        z-index: 11;
    }

    #tokyo {
        margin-top: 100px;
    }

    #olympics {
        margin-top: 175px;
    }

    #edition {
        margin-top: 250px;
    }

    .intro-title {
        color: white;
        text-shadow: 0 0 20px white;
        font-size: 30px;
        margin: 10px;        
    }

    .intro-flag{
        color: var(--white-text);
        font-size: 20px;
        margin: 10px;
    }

    .goto-flag{
        color: var(--white-text);
        font-weight: 800;
        margin: 10px;
        span {
            color: rgb(248, 7, 89);
        }
        cursor:pointer;
    }

    .github-button {
        text-decoration: none;
        width: var(--auth-width);
        height: 40px;
        position: relative;
        overflow: hidden;
        font-size: 14px;
        font-weight: 800;
        background: var(--background-dark);
        box-shadow: 0px 0px 10px var(--dark);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 14px;
        color: var(--white-text);
        margin: 10px;
        transition: all 0.3s;
    }

    .github-button:hover {
        box-shadow: 0px 0px 20px var(--dark);
    }

    .github-button:before {
        content: "";
        background-color: white;
        top: 0;
        left: 0;
        width: 200%;
        height: 30px;
        position: absolute;
        transform: translateX(-100%) rotate(45deg);
        transition: all 0.3s;
    }

    .github-button:hover:before {
        transform: translateX(100%) rotate(45deg);
    }

    #intro-container {
        transform-style: preserve-3d;
    }

    #arena {
        position: absolute;
    }
}