.ListViewOuter {
    position: relative;
    width: var(--write-width);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 100px;
    box-shadow: 0 0 10px var(--text);
    border: 2px solid var(--border);
    background-color: var(--app);

    .calendar-title {
        position: relative;
        width: var(--calendar-title-width);
        margin: 20px;

        display: flex;
        align-items: center;
        justify-content: space-between;     
        
        .calendar-item {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;       
        }
    }

}