.small-button {
  text-decoration: none;
  width: 20px;
  height: 40px;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

