.small-button {
  text-decoration: none;
  width: 20px;
  height: 40px;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: black;
  margin: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  background: var(--header-gradient);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 2px solid var(--text);
  box-shadow: 0 0 10px var(--text);
}

