.FilteredCategoryOuter{
    position: relative;
    width: var(--records-width);
    height: var(--chart-height);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--text);
    border: 2px solid var(--border);
    background-color: var(--app);
    
    margin: 20px;
    padding: 20px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;

    .filtercategory-inner {
        position: relative;
        width: var(--write-width);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

}