.glass-button {
  text-decoration: none;
  width: 120px;
  height: 25px;
  position: relative;
  overflow: hidden;
  font-size: 10px;
  font-weight: 800;
  background: var(--header-color);
  box-shadow: 1px 1px 10px var(--text);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  color: var(--app);
  transition: all 0.3s;
}

.glass-button:hover {
  box-shadow: 2px 2px 20px var(--text);
}

.glass-button:before {
  content: "";
  background-color: white;
  top: 0;
  left: 0;
  width: 200%;
  height: 30px;
  position: absolute;
  transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.glass-button:hover:before {
  transform: translateX(100%) rotate(45deg);
}
