.CreditCardOuter {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    .credit-card-inner {
        position: relative;
        width: var(--credit-width);
        height: 100%;
        transform-style: preserve-3d;
        transition: all .05s ease-in;
    }

    .card-bg {
        position: absolute;
        width: var(--credit-width);
        height: var(--credit-height);
        border-radius: 20px;
        transform: scale(0.9);
    }
    .card-user {
        margin-top: 100px;
        margin-left: 50px;
        font-size: 25px;
        color: white;
        text-shadow: 0 0 20px white;
        position: absolute;
    }
    .card-secret {
        margin-top: 150px;
        margin-left: 50px;
        font-size: 16px;
        color: white;
        text-shadow: 0 0 20px white;
        position: absolute;
    }
    .card-chip {
        margin-top: 50px;
        margin-left: -170px;
        position: absolute;
        width: 40px;
        height: 40px;
        object-fit: cover;
    }
    .card-master {
        margin-top: 180px;
        margin-left: 90px;
        position: absolute;
        width: 50px;
        height: 50px;
        object-fit: cover;
    }

    .credit-title {
        position: relative;
        margin-bottom: 140px;
    }

    .credit-title.write {
        margin-bottom: 20px;
        color: white;
        text-shadow: 0 0 10px white;
    }

    .credit-card-inner {
        cursor: pointer;
    }

    .credit-card-inner:hover {
        transform: scale(1.2);
    }

    .credit-write-item {
        margin-bottom: 50px;
    }

}