.LineViewOuter{
    position: relative;
    width: var(--records-width);
    height: var(--chart-height);
    background-color: var(--app);
    border-radius: 10px;

    box-shadow: 0 0 20px var(--text);
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .yearcategory-title {
        padding: 30px;
    }
}